body {
	/*background-color: darkblue;*/
	height: 100vh;
	padding: 0;
	margin: 0;
	font-size: 100%;
}

.tausta {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.raami-nelio {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	height: 100%;
	aspect-ratio: 1/1;
	padding: 3.5vh;
	margin: auto;
	color: black;
	box-sizing: border-box;
}

.item1,
.item2,
.item3,
.item4 {
	padding: 5%;
	aspect-ratio: 1/1;
}

.item1 img,
.item2 img,
.item3 img,
.item4 img {
	object-fit: cover;
	width: 100%;
	height: auto;
	overflow: hidden;
	aspect-ratio: 1/1;
	box-sizing: border-box;
}

/*
.item1 img {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid black;
}
*/

.item2 div img {
	border: 2px solid black;
}

.item2 div a,
.item3 div a,
.item4 div a {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	width: 100%;
}

.item2 div a:hover,
.item3 div a:hover,
.item4 div a:hover {
	opacity: 0;
	transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
}

.item2 div a:hover ~ .tiedot,
.item3 div a:hover ~ .tiedot,
.item4 div a:hover ~ .tiedot {
	opacity: 1;
	transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
}

.tiedot {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	opacity: 0;
}

a {
	color: black;
	padding: 0;
	margin: 0;
	aspect-ratio: 1/1;
	height: 100%;
	width: auto;
}

.linkki-mobiili {
	display: none;
}

/* Mustavalko */

.body-mv {
	background-color: black;
}

/* Kytkin */

.kytkin {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 22;
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: lightgray;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: dimgray;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: lightgray;
}

input:focus + .slider {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

@media only screen and (max-aspect-ratio: 100/99) {
	.raami-nelio {
		height: auto;
	}
}

/* Mobiilinäkymä, mustavalkonäkymä käänteisenä. */
@media only screen and (max-width: 600px) and (max-aspect-ratio: 100/92) {
	.raami-nelio {
		height: auto;
		aspect-ratio: 1/1;
		transform: translate(0, -4vh);
	}

	.linkki-mobiili {
		display: inline;
	}

	.linkki {
		display: none;
	}

	.item2 a img {
		border: none;
	}

	.item2 div a:hover,
	.item3 div a:hover,
	.item4 div a:hover {
		opacity: 1;
	}

	.item2 div a:hover ~ .tiedot,
	.item3 div a:hover ~ .tiedot,
	.item4 div a:hover ~ .tiedot {
		opacity: 0;
	}
}
