body {
	/*background-color: darkblue;*/
	height: 100vh;
	padding: 0;
	margin: 0;
	font-size: 100%;
}

.otsikko {
	padding: 0 0 2vh 0;
}

.item1 img {
	width: 100%;
	overflow: hidden;
}

.item1,
.item2,
.item3 {
	padding: 2vh;
}

.item2 img,
.item3 img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.item2 div a,
.item3 div a {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	width: 100%;
}

.linkki-mobiili {
	display: none;
}

a {
	color: black;
	padding: 0;
	margin: 0;
	transition: opacity 0.3s ease;

}

.item2 div a:hover,
.item3 div a:hover {
	filter: opacity(60%);
	-webkit-filter: opacity(60%);
}

.item1 a:hover img {
	background-color: rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}

.tausta {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.raami-nelio {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 36% 64%;
	height: 100%;
	aspect-ratio: 1/1;
	margin: auto;
	color: black;
	padding: 0 3% 0 3%;

}

.item1 {
	z-index: 5;
	grid-column: 1/3;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.item2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	transition: opacity 0.3s ease;
	position: relative;
}

.item3 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	transition: opacity 0.3s ease;
	position: relative;
}

.tiedot-verkkosivu,
.tiedot-pelinvalikko {
	/*display: none;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	width: 100%;
	transition: opacity 0.3s ease;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	opacity: 0;
}

/* Mustavalko */

.body-mv {
	background-color: black;
}

/* Kytkin */

.kytkin {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 22;
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: lightgray;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: dimgray;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: lightgray;
}

input:focus + .slider {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

/* Mobiilinäkymä, mustavalkonäkymä käänteisenä. */
@media only screen and (max-width: 600px) and (max-aspect-ratio: 100/92) {
	.raami-nelio {
		height: auto;
		aspect-ratio: 1/1;
	}

	.item2 div a:hover,
	.item3 div a:hover {
		filter: none;
	}

	.item1 a:hover img:last-of-type {
		background-color: rgba(0, 0, 0, 0);
	}

	.linkki-mobiili {
		display: inline;
	}
	
	.linkki {
		display: none;
	}
}
