body {
	/*background-color: darkblue;*/
	height: 100vh;
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-family: "Courier New", monospace;
}

h1 {
	font-weight: bold;
}

a {
	color: black;
	padding: 18px 0 18px 0;
	background: red;
}

.item2 a {
	display: inline-block;
	padding: 11px 0 11px 0;
}

a:hover {
	color: darkgray;
}

p {
	padding: 4px 0 4px 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0);
}

.tausta {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.raami-nelio {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	height: 100%;
	aspect-ratio: 100/95;
	padding: 0;
	margin: auto;
	color: black;
}

.raami-vaaka {
	display: none;
	/*grid-template-columns: 40% 17% 21.5% 21.5%;*/
	grid-template-columns: 35% 15% 22% 28%;
	grid-template-rows: 50% 50%;
	height: 100%;
	aspect-ratio: auto;
	padding: 0;
	margin: auto;
	color: black;
}

.item1 {
	/*border-right: 1px solid black;
	border-bottom: 1px solid black;*/
	font-size: 6.53vh;
	background: green;
	background-color: rgba(222, 100, 222, 0.5);
	z-index: 5;
}

.item2 {
	/*border-bottom: 1px solid black;*/
	font-size: 3.5vh;
	background-color: rgba(222, 222, 100, 0.5);
}

.item3 {
	/*border-right: 1px solid black;*/
	font-size: 2.8vh;
	background-color: rgba(100, 222, 222, 0.5);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.item4 {
	color: rgba(50, 120, 120, 0.7);
	font-size: 2.8vh;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.item4 div {
	display: none;
	padding-left: 35%;
}

.tavutus-mobiili {
	display: none;
}

.item4-mobiili {
	display: none;
}

/* Mustavalko */

.body-mv {
	background-color: black;
}

.body-mv .item4 {
	color: lightgray;
}

/* Kytkin */

.kytkin {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 22;
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: lightgray;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: dimgray;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: lightgray;
}

input:focus + .slider {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

/* Pysty */
@media only screen and (max-aspect-ratio: 100/92) {

	.tausta {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.raami-nelio {
		height: auto;
		width: 100%;
		aspect-ratio: 1/1;
		margin-top: 20%;
	}

	.item1 h1 {
		font-size: 14.5vw;
	}

	.item2 {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}

	.item2 a {
		z-index: 12;
		font-weight: 900;
	}

	.tavutus-mobiili {
		display: inline-block;
	}

	.tavutus-oletus {
		display: none;
	}

	.item3 > div:first-of-type,
	.item3 > div:last-of-type,
	.tiedot-verkkosivu,
	.tiedot-pelinvalikko {
		height: 50%;
		transform: translate(0, 50%);
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.item3 > div:last-of-type,
	.tiedot-pelinvalikko {
		padding: 10px 0 0 0;
	}

	.item3 {
		justify-content: flex-end;
		align-items: flex-end;
	}

	.item4 {
		display: none;
	}

	.item4-mobiili {
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: column;
	}

	.body-mv .item4-mobiili {
		color: lightgray;
	}

	.item4-mobiili p {
		padding: 1px 0 1px 0;
	}
}

/* Vaaka */
@media only screen and (min-aspect-ratio: 13/5) {

	.raami-nelio {
		display: none;
	}

	.tausta {
		display: none;
	}

	.raami-vaaka {
		display: grid;
	}

	.item1 {
		text-align: right;
	}

	.item1 h1 {
		margin-top: 0.9em;
		position: absolute;
		right: 50%;
		z-index: 6;
		font-size: 14.5vh;
	}

	/*
	.item1 a {
		position: absolute;
		right: 50%;
		bottom: 50%;
	}
*/
	.item2 {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		flex-direction: column;
	}

	.item2 a {
		font-size: 7.27vh;
		z-index: 11;
		padding: 18px 0 18px 0;
	}

	.item3 {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}

	.item3 div {
		padding-right: 20px;
	}

	.item4 div {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		padding: 0;
	}

	.item4,
	.item3 {
		background-color: rgba(100, 222, 222, 0);
	}

	.item4 a,
	.item3 a {
		font-size: 3.8vh;
		padding: 11px 0 11px 0;
		display: inline-block;
	}

	.body-mv .item4,
	.body-mv .item3 {
		font-weight: 900;
	}

	.item5,
	.item6 {
		background-color: rgba(100, 222, 222, 0.5);
	}

	.item5 {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		flex-direction: column;
	}

	.item5 div {
		width: auto;
		height: auto;
		display: inline-flex;
		padding-right: 30px;
		flex-direction: column;
	}

	.item6 {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}

	.item6 div {
		height: 100%;
		display: inline-flex;
		padding-left: 20px;
		flex-direction: column;
	}

	.item5,
	.item6 {
		color: white;
		font-size: 4vh;
		font-weight: 900;
	}

	.body-mv .item5,
	.body-mv .item6 {
		font-weight: 100;
	}

	.item7 {
		background-color: rgba(222, 100, 222, 0.5);
	}

	.item8 {
		background-color: rgba(222, 222, 100, 0.5);
	}
}
